<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>登录页面</title>
</head>
<body>
<div class="container">
    <div>
        <form name="form" action="/login" method="POST"> 
            <div>
                <label for="username">账号</label>
                <input type="text" name="username" value="" placeholder="账号" />
            </div>
            <div>
                <label for="password">密码</label>
                <input type="password" name="password" placeholder="密码" />
            </div>
            <input type="submit" id="login" value="Login"/>
        </form>
    </div>
</div>
</body>
</html>